@font-face {
    font-family: Bitter;
    src: url(../../Bitter/Bitter-VariableFont_wght.ttf);
}

body {    
    width: 100%;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0 ; 
    padding: 0 ;     
    background:  antiquewhite;/*#f7e7ce;*/
    background-repeat: no-repeat;  
}

h1 {
    text-align: center;
    scale: 1.5;
    margin: 50px auto;
    padding-bottom: 10px;
    width: fit-content;
    border-bottom: 2px solid #714835;
    color: #714835;
    /* text-shadow: 2px 2px  white; */
}

label {
    margin-top: 20px;
    color: antiquewhite;
}

form {
    text-align: center;
    background-color: #714835;
    width: 20%;
    padding: 25px;
    padding-top: 35px;
    margin: 10px auto;
    border-radius: 1px;
}

input {
    text-align: center;
    scale: 1.2;
    display: block;
    margin: 3px auto;
    margin-bottom: 60px;
    background-color: #714835;/* #f7e7ce */
    color: antiquewhite;
    border: 0;
    border-bottom: 1px solid antiquewhite;
}

.submit {
    margin-bottom: 7px;
}

.submit {
    font-size: 10px;
    font-weight: 525;
    text-decoration: none;
    width: 20%;
    padding: 5px 0;
    color: #ae6b4b;
    background-color: antiquewhite;
    border-radius: 2px;
  }
  
.submit:hover {
    color: #714835;
    background-color: #fffff0;
    transition: background-color 0.3s, color 0.3s;
  }



nav ul {
    display : flex;
    background-color: #714835 ;
    margin-top: 0 ;
}
nav ul li {
    margin : 1em ;
    list-style-type: none ;
}

nav a {
    color : white ;
    text-decoration: none ;
    font-size: 1.5em ;
}


  