<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Link to an external CSS file for styling the page -->
    <link rel="stylesheet" href="{% static 'css/navBar.css' %}">

    <link rel="stylesheet" href="{% static 'css/adminpages/changePassword.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Passowrd</title>
    <script>
            function validation() {
            
                var oldpassword = document.getElementById('oldPass').value;
                var old = document.getElementById('old').value;
                var password = document.getElementById('newPass').value;
                var confirmPassword = document.getElementById('confirm').value;
                if(old !== oldpassword){
                    document.getElementById('opass').innerHTML = 'Incorrect old password. Please try again.';
                    event.preventDefault(event);
                }
                else{
                        document.getElementById('opass').innerHTML = '' ;
                    }

                if(password !== confirmPassword) {
                    document.getElementById('confirmpassword').innerHTML = 'Passwords do not match. Please try again.' ;
                    event.preventDefault(event) ;
                }
                else{
                    document.getElementById('confirmpassword').innerHTML = '' ;

                }

                if( !/\d/.test(password) ) {
                    document.getElementById('password').innerHTML = 'password must contain at least one digit ' ;
                    event.preventDefault(event) ;
                }

                else if( !/[!#$%*@]/.test(password)) {
                    document.getElementById('password').innerHTML = 'please enter one of the following special characters: !, #, $, %, or *' ;
                    event.preventDefault(event) ;
                }
                else if(password.length < 8 ) {
                    document.getElementById('password').innerHTML = 'Password must be at least 8 characters long' ;
                    event.preventDefault(event) ;
                }
                else{
                    document.getElementById('password').innerHTML = '' ;

                }
        }
    </script>
</head>
<body>
    {% include 'pages/admin/navBar.html'%}
    <br>
    <h1>Change Password</h1>
    <br>
    <form method="post" onsubmit="return validation(event)">
        {% csrf_token %}
        <div class="center">
            <label for="oldPass">Old passowrd</label>
            <br>
            <input type="password" id="oldPass" name="oldpassword"> 
            <p id="opass" style="color: red;"></p>    
        </div>
        <div class="center">
            <label for="newPass">New passowrd</label>
            <br>
            <input type="password" id="newPass" name="newpassword"> 
            <p id="password" style="color: red;"></p>      
        </div>
        <div class="center">
            <label for="confirm">Confirm passowrd</label>
            <br>
            <input type="password" id="confirm" name="newpassword2"> 
            <p id="confirmpassword" style="color: red;"></p>   
        </div>
        <div class="center">
            <input class="submit" type="submit" value="Change">    
        </div>

        <input type="hidden" id="old" value="{{pass}}">
    </form>


    
    
    
</body>
</html>