@font-face {
  font-family: Bitter;
  src: url(../../Bitter/Bitter-VariableFont_wght.ttf);
}

body{    
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body{
  height: 100%;
  margin: 0 ; 
  padding: 0 ;     
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.691841702501313) 68%, rgba(255,255,255,0) 100%),
  url(../image/libraryPhoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;  
}

h1{
  text-align: center ;
  font-size: 2em ;
  margin-top : 2em ;
}

p{
  text-align: center ;
  font-size: 1.5em ;
}

img{
  width : 30em ;
  height: 20em ;
}

#img{
  justify-content: center;
  margin-left: 27em ;
}

.container p {
  padding: 50px;
  color: #fffff0;
  height: 70% ;
  text-align: left;
}

.container::first-line {
  font-size: 40px;
}

