<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookList.css' %}">
    <title>Books</title>
</head>
<body>
    <div class =  "mainPage">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a>
                <li><a href="{% url 'books' %}">Books</a>
                <li><a href="{% url 'about' %}">About</a> 
                <li><a href="{% url 'contact' %}">Contact</a>       
                <li><input id="search-input" type="text" placeholder = "Search..."
                     style = "border-radius: 4em ; padding : 0.5em">
            </ul>
        </nav>

        <div class = "mainContainer" id = "mainContainer">
            {% for book in allbooks  %}
                <div class = "imageContainer" class = "{{book.id}}">
                    <a href="{% url 'bookDetails' book.id %}">
                        <img src="{{book.image.url}}" alt="{{book.name}}">
                        <div class="bName">{{book.name}}</div>
                    </a>
                </div>
            {% endfor %}
        </div> 
    </div>
    <script>
        document.getElementById('search-input').addEventListener('keypress',function(){
            if(event.key === 'Enter'){
                var search = document.getElementById('search-input').value;
                if(search.trim() !== ''){
                    window.location.href = '{% url "books" %}?search='+encodeURIComponent(search);
                }
                else{
                    window.location.href = '{% url "books" %}';
                }
            }
            
        });
    </script>
</body>
</html>
